data/

wandb/

output_videos/

checkpoint/

__pycache__/

Figures/

custom_codes/MotionBERT_analysis/h36m_test.pkl

custom_codes/test_utils.py

custom_codes/AIHUB_analysis/

*.pyc

*.mp4

*.npy

input_videos/H36M_from_generation/bbox_info.pkl

*.pkl

*.png

*.zip

*.gif

train.sh
